body {
	font-family: sans-serif;
}

.title {
	margin: 12px;
	color: red;
}

.highlight {
	color: green;
}

footer {
	border: 1px solid #999;
	border-radius: 10px;
	padding: 20px;
	background-color: #ccc;
	color: #ededed;
	margin: 24px;
}